* {
	background-image: none;
}
window {
	background-color: rgba(46, 52, 64, 0.9);
        /*background-color: rgba(0,0,0,0.5);*/
        /*background-color: transparent;*/
}
button {
    color: #d8dee9;
	background-color: #2e3440;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, active {
	background-color: #4c566a;
	outline-style: none;
        animation: gradient_f 20s ease-in infinite;
        transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover {
    background-color: #716177;
    background-size: 25%;
    /*border-radius: 75px;*/
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/home/ron/.config/wlogout/icons/lock.png"), url("/home/ron/.config/wlogout/icons/lock.png"));
}

#lock:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/lock_hover.png"));
}

#lock:active {
    background-image: image(url("/home/ron/.config/wlogout/icons/lock_hover.png"));
}

#logout {
    background-image: image(url("/home/ron/.config/wlogout/icons/logout.png"), url("/home/ron/.config/wlogout/icons/logout.png"));
}

#logout:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/logout_hover.png"));
}

#suspend {
    background-image: image(url("/home/ron/.config/wlogout/icons/suspend.png"), url("/home/ron/.config/wlogout/icons/suspend.png"));
}

#suspend:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/suspend_hover.png"));
}

#hibernate {
    background-image: image(url("/home/ron/.config/wlogout/icons/hibernate.png"), url("/home/ron/.config/wlogout/icons/icons/hibernate.png"));
}

#hibernate:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/hibernate_hover.png"));
}

#shutdown {
    background-image: image(url("/home/ron/.config/wlogout/icons/shutdown.png"), url("/home/ron/.config/wlogout/icons/shutdown.png"));
}

#shutdown:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/shutdown_hover.png"));
}


#reboot {
    background-image: image(url("/home/ron/.config/wlogout/icons/reboot.png"), url("/home/ron/.config/wlogout/icons/reboot.png"));
}

#reboot:focus {
    background-image: image(url("/home/ron/.config/wlogout/icons/reboot_hover.png"));
}
