/*@define-color bg-hover #4c566a;
@define-color theme_selected_bg_color #8fbcbb;*/

window {
margin: 0px;
border: 4px solid #5e81ac;
border-radius: 10px;
/*background-color: #2e3440;*/
background-color: rgba(46, 52, 64, 0.6);
font-family: JetBrainsMono Nerd Font;
font-size: 14px;
}

#input {
margin: 5px;
border: 1px solid #2e3440;
color: #d8dee9;
/*background-color: #2e3440;*/
background-color: rgba(46, 52, 64, 0.6);
}

#input image {
	color: #d8dee9;
}

#input:focus image {
  color: #4c566a;
}

#inner-box {
margin: 5px;
border: none;
/*background-color: #2e3440;*/
background-color: rgba(46, 52, 64, 0.6);
}

#outer-box {
margin: 5px;
border: none;
/*background-color: #2e3440;*/
background-color: rgba(46, 52, 64, 0.6);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #81a1c1;
} 

#entry:selected {
	background-color: #4c566a;
        background-image: #4c566a;
	font-weight: normal;
}

#text:selected {
	background-color: transparent;
        color: #b48ead;
	font-weight: normal;
}
